In [ ]:
# 1. Cargar el archivo y crear el DataFram

In [1]:
import pandas as pd

df = pd.read_csv("resumen_resultados_astronautas.csv")
df.head()

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica
0,Alana Morillo,32,75,180,93,88,78,89,6,Si
1,Fátima Tafalla,27,68,167,82,95,81,87,4,Si
2,Sofía Puig,29,80,185,85,80,90,91,3,Si
3,Valentina Tasis,30,65,175,90,91,85,92,2,No
4,Regina Cicerón,31,76,183,89,87,83,90,7,Si

In [ ]:
# 2. Crear columna "IMC"

In [2]:
df["altura_m"] = df["altura"] / 100  # Convertimos cm a metros
df["IMC"] = df["peso"] / (df["altura_m"] ** 2)

In [ ]:
# 3. Crear columna "promedio_evaluaciones"

In [4]:
# Paso 3: Crear la columna con el promedio de las 4 evaluaciones
columnas_eval = [
    "evaluacion_fisica",
    "evaluacion_psicologica",
    "evaluacion_adaptativa",
    "evaluacion_medica"
]

df["promedio_evaluaciones"] = df[columnas_eval].mean(axis=1)

# Verificamos que la columna se creó correctamente
print("Columnas actuales del DataFrame:")
print(df.columns)

print("\nPrimeras filas con la nueva columna:")
df[["nombre", "promedio_evaluaciones"]].head()

Columnas actuales del DataFrame:
Index(['nombre', 'edad', 'peso', 'altura', 'evaluacion_fisica',
       'evaluacion_psicologica', 'evaluacion_adaptativa', 'evaluacion_medica',
       'anos_experiencia', 'califica', 'altura_m', 'IMC',
       'promedio_evaluaciones'],
      dtype='object')

Primeras filas con la nueva columna:

            nombre  promedio_evaluaciones
0    Alana Morillo                  87.00
1   Fátima Tafalla                  86.25
2       Sofía Puig                  86.50
3  Valentina Tasis                  89.50
4   Regina Cicerón                  87.25

In [ ]:
# 4. Filtrar por IMC adecuado (18.5 a 24.9)

In [6]:
# Filtrar astronautas con IMC entre 18.5 y 24.9
df_imc_ok = df[(df["IMC"] >= 18.5) & (df["IMC"] <= 24.9)]

# Mostrar las primeras filas del resultado
df_imc_ok[["nombre", "IMC"]].head()

            nombre        IMC
0    Alana Morillo  23.148148
1   Fátima Tafalla  24.382373
2       Sofía Puig  23.374726
3  Valentina Tasis  21.224490
4   Regina Cicerón  22.694019

In [ ]:
# 5. Filtrar por promedio de evaluaciones ≥ 87

In [8]:
# Filtrar astronautas con IMC adecuado y promedio de evaluaciones ≥ 87
df_filtrado = df[
    (df["IMC"] >= 18.5) & 
    (df["IMC"] <= 24.9) & 
    (df["promedio_evaluaciones"] >= 87)
]

# Mostrar los primeros resultados
df_filtrado[["nombre", "IMC", "promedio_evaluaciones"]].head()

              nombre        IMC  promedio_evaluaciones
0      Alana Morillo  23.148148                  87.00
3    Valentina Tasis  21.224490                  89.50
4     Regina Cicerón  22.694019                  87.25
6     María Juderías  23.547881                  88.00
8  Consuela Arboleda  21.785876                  89.75

In [ ]:
# 6. Reiniciar el índice del DataFrame

In [9]:
df_filtrado.reset_index(drop=True, inplace=True)

# Mostrar los primeros resultados para validar
df_filtrado[["nombre", "IMC", "promedio_evaluaciones"]].head()

              nombre        IMC  promedio_evaluaciones
0      Alana Morillo  23.148148                  87.00
1    Valentina Tasis  21.224490                  89.50
2     Regina Cicerón  22.694019                  87.25
3     María Juderías  23.547881                  88.00
4  Consuela Arboleda  21.785876                  89.75

In [ ]:
# 7. Modificar la columna "califica" para que diga "si" en todas las filas

In [11]:
# Aseguramos que df_filtrado sea una copia independiente
df_filtrado = df_filtrado.copy()

# Modificamos la columna 'califica' de forma segura
df_filtrado.loc[:, "califica"] = "Si"

# Verificamos visualmente
df_filtrado[["nombre", "califica"]].head()

              nombre califica
0      Alana Morillo       Si
1    Valentina Tasis       Si
2     Regina Cicerón       Si
3     María Juderías       Si
4  Consuela Arboleda       Si

In [ ]:
# 8. Exportar el DataFrame a un archivo CSV

In [12]:
df_filtrado.to_csv("astronautas_calificados.csv", index=False)

# Confirmación textual
print("Archivo 'astronautas_calificados.csv' exportado correctamente.")

Archivo 'astronautas_calificados.csv' exportado correctamente.